@model ProyectoANF.ViewModel.UsuarioVM;
@{
    Layout = null;
}
<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
            background-image: url('/Imagenes/fondoMundo.png'); /* Fondo específico para la página de registro */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh; 
            margin: 0; 
        }

        .card {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
            border-radius: 10px;
            height: auto; 
            width: 500px;
        }

        .card-header {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }

        .form-control {
            border-radius: 5px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
                text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            ¡Regístrate!
        </div>
        <div class="card-body">
            <form asp-controller="Acceso" asp-action="Registrarse" method="post">
                <input class="form-control mb-3" type="text" placeholder="Nombre de usuario" required asp-for="NombreUsuario" />
                <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="Contraseña" />
                <input class="form-control mb-3" type="password" placeholder="Confirmar contraseña" required asp-for="ConfirmarContraseña" />
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-primary">Regístrate</button>
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                }
                else if(ViewData["Completado"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewData["Completado"]
                    </div>
                }
                <p>¿Ya tienes una cuenta? <a asp-controller="Acceso" asp-action="Login">Inicia sesión</a></p>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
